In [102]:
import pandas as pd
import numpy as np
import chart studio.plotly
from datetime import datetime, date, time

In [60]:
df = pd.read_csv('data.csv', delimiter=';', parse_dates=['dt'], decimal=",")

импортировали библиотеки и загрузили файл с данными, просмотрим первые  10 значений и информацию о датасете

In [61]:
df.head(10)

    player_id         dt  battles  revenue
0  1761375733 2019-03-18        2      0.0
1  5142722405 2019-04-05        6      0.0
2  6336768620 2019-03-16       27      0.0
3  6769868103 2019-04-29        2      0.0
4  7080232366 2019-04-14       60      0.0
5  1360266281 2019-04-29        3      0.0
6  7199927670 2019-03-17      134      0.0
7  4175820410 2019-05-21       31      0.0
8  3913887322 2019-04-22       19      0.0
9  4685866667 2019-09-04      110      0.0

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551016 entries, 0 to 551015
Data columns (total 4 columns):
player_id    551016 non-null int64
dt           551016 non-null datetime64[ns]
battles      551016 non-null int64
revenue      551016 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 16.8 MB

Видим 4 столбца, и что данные были правильно распарсены. количество значений в столбцах совпадает, значит пропусков данных не наблюдается, и по всей видимости, данные хорошо предобработаны. можно на всякий случай сделать проверку на дубликаты данных

In [66]:
df.duplicated().sum()

0

как видим, дубликатов не обнаружено, переходим к анализу данных

In [72]:
df.insert(4,'weekday', df['dt'].dt.day_name())

In [89]:
df.head(5)

    player_id         dt  battles  revenue   weekday
0  1761375733 2019-03-18        2      0.0    Monday
1  5142722405 2019-04-05        6      0.0    Friday
2  6336768620 2019-03-16       27      0.0  Saturday
3  6769868103 2019-04-29        2      0.0    Monday
4  7080232366 2019-04-14       60      0.0    Sunday

In [90]:
pl1 = df.groupby('weekday')['battles'].sum()
pl1

weekday
Friday       3822031
Monday       4463821
Saturday     4716030
Sunday       5471951
Thursday     3701341
Tuesday      3819344
Wednesday    3435289
Name: battles, dtype: int64

In [95]:
py.iplot(plt)

NameError: name 'py' is not defined